// Colors
$color-white: #fff;
$color-yellow: #fc0;
$color-grey: #666;
$color-black: #333;

// Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;